.sg-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: #d0021b;
  display: flex;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, .9);
}

.sg-title::before, .sg-title::after {
  content: "";
  display: block;
  flex: 1 0 0%;
  border-bottom: 1px solid;
  align-self: center;
}

.sg-title::before {
  margin-right: 1rem;
}

.sg-title::after {
  margin-left: 1rem;
}

body {
  margin-left: 10px;
  margin-right: 10px;
}

input[type=text] {
  width: 500px;
}
