<template>
  <div id="app" style="text-align: center">
    <div id="titre">
      <h1>Jeux de Nim</h1>
      <h3>Celui qui prend la dernière allumette a gagné.</h3>
      <hr>
    </div>
    <div id="start">
      <span v-if="start && tour === 'joueur'">Tu commences avec {{allumettes.restantes}} allumettes. Combien prends-tu ?</span>
      <span v-if="start && tour === 'ordi'">Je commence avec {{allumettes.restantes}} allumettes.</span>
      <br>
    </div>
    <div id="joueur" v-if="tour === 'joueur'">
      <div v-if="!start">Combien prends-tu ?</div>
      <br>
      <div>
        <label v-if="allumettes.restantes >= 1">
          <input id="un" value="1" type="radio" v-model="allumettes.joueur">
          <label for="un">1</label>
        </label>
        <label v-if="allumettes.restantes >= 2">
          <input id="deux" value="2" type="radio" v-model="allumettes.joueur">
          <label for="deux">2</label>
        </label>
        <label v-if="allumettes.restantes >= 3">
          <input id="trois" value="3" type="radio" v-model="allumettes.joueur">
          <label for="trois">3</label>
        </label>
      </div>
      <br>
      <button @click="tour_joueur">Tour suivant</button>
    </div>
    <div id="ordi" v-if="tour === 'ordi'">
      <div>Je prends {{allumettes.ordi}} allumette{{allumettes.ordi > 1 ? "s" : ""}}</div>
      <br>
      <button @click="tour_suivant">Tour suivant</button>
    </div>
    <div id="gagne" v-if="tour === 'gagne'">
      <h5>Gagné!</h5>
      <button @click="init">Recommence...</button>
    </div>
    <div id="perd" v-if="tour === 'perd'">
      <h5>Perdu</h5>
      <button @click="init">Recommence...</button>
    </div>
    <hr>
    <div id="allumettes" style="display: inline">
      <span style="font-size: x-large">Il reste {{allumettes.restantes}} allumette{{allumettes.restantes > 1 ? "s" : ""}}</span>
      <br>
      <template v-for="i in allumettes.restantes">
        <span v-bind:key="i">
          <img src="./assets/allumette.png">
          <br v-if="i % 5 === 0">
        </span>
      </template>
      <br>
    </div>
    <div id="configuration" >
      <hr>
        <div>
          Mode :
          <label>
            <input type="radio" v-model="mode" value="naif">
            naif
          </label>
          <label>
            <input type="radio" v-model="mode" value="parfait">
            parfait
          </label>
        </div>
    </div>
  </div>
</template>


<script>

// Constantes donnant le nombre d'allumettes initiales en début de partie
var NBRE_ALLUMETTES_MAX = 15 ;
var NBRE_ALLUMETTES_MIN = 5 ; // A décommenter une fois utilisée


export default {
  name: 'App',
  data() {
    return {
      i: 0,
      tour: "joueur",
      start: true,
      mode: "naif",
      allumettes: {
        "ordi" : 0,
        "joueur" : 0,
        "restantes" : NBRE_ALLUMETTES_MAX
      },
    }
  },
  computed: {},
  methods: {
    tour_suivant : function(){
      console.log(this.tour)
      this.start = false;
      this.allumettes.restantes = this.allumettes.restantes - this.allumettes.ordi;
      this.allumettes.restantes = this.allumettes.restantes - this.allumettes.joueur;
      this.allumettes.joueur = 0;
      this.allumettes.ordi = 0;
      this.tour = (this.tour === "joueur") ? "ordi" : "joueur"
    },
    tour_joueur: function(){
      console.log("Dans la methode tour_joueur()");
      if (this.allumettes.joueur > 0){
        if (this.allumettes.restantes > 0){
          if (this.allumettes.restantes - this.allumettes.joueur < 1){
            this.tour = "gagne";
            this.allumettes.restantes = 0;
          } else {
            this.tour_suivant();
            this.tour_ordi();
          }
        } else {
          this.tour = "perd"
        }
      }
    },
    tour_ordi: function(){
      console.log("Dans la methode tour_ordi()");
      console.log(this.mode)
      if (this.mode === "parfait"){
        console.log("parfait");
        if (this.allumettes.restantes > 3){
          if (this.allumettes.restantes % 4 === 0){
            this.allumettes.ordi = this.choix_aleatoire(1,3);
          } else {
            if ((this.allumettes.restantes - 1) % 4 === 0){
              this.allumettes.ordi = 1
            } else if ((this.allumettes.restantes - 2) % 4 === 0){
              this.allumettes.ordi = 2
            } else if ((this.allumettes.restantes - 3) % 4 === 0){
              this.allumettes.ordi = 3
            }
          }
        } else {
          this.allumettes.restantes = 0;
          this.tour = "perd"
        }
      } else {
        if (this.allumettes.restantes > 3){
          this.allumettes.ordi = this.choix_aleatoire(1,3);
        } else {
          this.allumettes.restantes = 0;
          this.tour = "perd"
        }
      }
    },
    choix_aleatoire: function( vmin, vmax ) {
      /* Renvoie une valeur entière choisie aléatoirement entre vmin et vmax (inclus) */
      return Math.floor(Math.random() * (vmax - vmin) + 0.5) + vmin;
    },
    init: function () {
      console.log("Dans la methode init");
      this.start = true;
      this.allumettes = {
        "ordi" : 0,
        "joueur" : 0,
        "restantes" : this.choix_aleatoire(NBRE_ALLUMETTES_MIN, NBRE_ALLUMETTES_MAX)
      }
      this.tour = this.choix_aleatoire(0,1) ? "joueur": "ordi";
      if (this.tour === "ordi"){
        this.tour_ordi();
      }
    }
  },
  created: function(){
    this.init()
  },
};


</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
