<template>
  <div id="app">
    {{ message }}

    <div id="app_nombre">
      <h2 class="sg-title">Traiter des nombres</h2>

      <ul>
        <li> L'entier qui suit
          <input type="number" v-model="nombre" />
          est : <code>{{ Number.isNaN(nombre) ? "NaN" : nombre }} + 1 = {{ Number.isNaN(increment) ? "NaN": increment }}.</code>

        </li>
        <li>
          L'entier qui suit est :
          <code v-if="!increment">calcul en cours.</code>
          <code v-if="increment">{{ nombre }} + 1 = {{ increment }}.</code>
        </li>
        <li>
          La somme de <input type="number" v-model="nbre2"/> est de <input type="number" v-model="nbre1"> vaut
          <code v-if="!increment">calcul en cours.</code>
          <code v-if="increment">{{ nbre2 }} + {{nbre1}} = {{ sum }}.</code>
        </li>
      </ul>
    </div>
    <div id="app_chaine">
      <h2 class="sg-title">Traiter les chaines de caractères</h2>
      <table class="table--auto">
        <tr>
          <th>
            Nom
          </th>
          <td>
            <input type="text" v-model="nom"/>
          </td>
        </tr>
        <tr>
          <th>
            Prenom
          </th>
          <td>
            <input type="text" v-model="prenom"/>
          </td>
        </tr>
        <tr>
          <th>
            Login
          </th>
          <td>
            <input type="text" v-model="login" readonly/>
          </td>
        </tr>
        <tr>
          <th>
            Email
          </th>
          <td>
            <input type="text" v-model="email" readonly>
          </td>
        </tr>
      </table>
    </div>
    <div id="app_formulaire">
      <h2 class="sg-title">Formulaire</h2>
      <div id="div_erreur" class="alert alert--danger" v-if="erreurs.length">
        Corrigez les erreurs suivantes :
        <ul>
          <li v-for="erreur in erreurs" v-bind:key="erreur">
            {{erreur}}
          </li>
        </ul>
      </div>
    </div>
      <form @submit="checkForm" method="GET">
        <table class="table--auto">
          <tr>
            <td>
              Anniversaire
            </td>
            <td>
              <input type="date" v-model="dob"/>
            </td>
          </tr>
          <tr>
            <td>
              Mot de passe
            </td>
            <td>
              <input type="password" v-model="password"/>
            </td>
          </tr>
          <tr>
            <td>
              Configuration du mot de passe
            </td>
            <td>
              <input type="password" v-model="c_password"/>
            </td>
          </tr>
          <tr>
            <td>
              Langage préféré
            </td>
            <td>
              <select v-model="langage">
                <option v-for="programation in programmations" v-bind:value="programation['valeur']" v-bind:key="programation['valeur']">{{programation['nom']}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              2nd langage préféré
            </td>
            <td>
              <select v-model="langage2">
                <option v-for="programation in programmations2()" v-bind:value="programation['valeur']" v-bind:key="programation['valeur']">{{programation['nom']}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button type="submit">Soumettre</button>
            </td>
          </tr>
        </table>
      </form>
    </div>

</template>

<script>
  export default {
    name: 'App',
    data() {
      return {
        message: "Hello World !!",
        nombre: "0",
        nbre1: "0",
        nbre2: "0",
        nom: "",
        prenom: "",
        dob: '',
        password: "",
        c_password: "",
        langage: "c",
        langage2: "java",
        programmations: [
          {'valeur' : 'c',      'nom' : 'C'},
          {'valeur' : 'java',   'nom' : 'Java'},
          {'valeur' : 'python', 'nom' : 'Python'},
          {'valeur' : 'js',     'nom' : 'Javascript'},
          {'valeur' : 'php',    'nom' : 'PHP'}
        ],
        programmations2: function () {
          let progs = [];
          this.programmations.forEach((value)=>{
            if (value['valeur'] !== this.langage){
              progs.push({valeur: value['valeur'], nom: value['nom']})
            }
          })
          return progs
        },
        erreurs: []
      }
    },
    computed: {
      increment : function () {
        let res = parseInt(this.nombre);
        return 1+res;
      },
      est_date_valide: function(){
        let aujourdhui = new Date().getTime();
        if (!this.dob) return "NO_DOB"
        return aujourdhui > new Date(this.dob).getTime() ? true : "DOB_FUTUR";
      },
      sum: function () {
        let x = parseInt(this.nbre2);
        let y = parseInt(this.nbre1);
        return x+y;
      },
      login: function () {
        return this.traiteCaractere(this.nom.substr(0, 7)+""+this.prenom.substr(0,1), '-')
      },
      email: function () {
        return this.traiteCaractere(this.prenom+"."+this.nom+"@etu.univ-grenoble-alpes.fr", "-")
      }
    }, methods: {
      traiteCaractere: function( chaine, carac_espace ) {
        if (chaine) {
          chaine = chaine.replace(' ', carac_espace);
          chaine = chaine.toLowerCase();
          chaine = chaine.normalize('NFD').replace(/[\u0300-\u036f]/g, "");
        }
        return chaine;
      },
      checkForm: function(e) {
        this.erreurs = [];
        if (this.est_date_valide === "DOB_FUTUR") {
          this.erreurs.push("La date d'anniversaire ("+new Date(this.dob).toLocaleDateString()+") ne peut être postérieure à aujourd'hui ("+new Date().toLocaleDateString() +")" );
        } else if (this.est_date_valide === "NO_DOB"){
          this.erreurs.push("La date d'anniversaire n'est pas correcte" );
        }
        if (this.password !== this.c_password){
          this.erreurs.push("Les deux mots de passe (ici "+this.password+" et "+this.c_password+") doivent être identiques!")
        }
        if (this.langage  === this.langage2){
          this.erreurs.push("Vous ne pouvez pas sélectionner deux fois le même langage (même si vous l'aimez beaucoup ;-))")
        }

        if (this.erreurs.length > 0) {
          e.preventDefault();
          return false;
        }
        else return true;
      }
    }
  }
</script>

<style src="./assets/css/knacss-unminified.css"></style>
<style src="./assets/css/knacss-custom.css"></style>
<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    /* suppression du centrage du texte */
    margin-top: 60px;
  }
</style>
